.PointsBadge__root, .CommentsBadge__root {
  position: absolute !important;
  top: 10px !important;
}

.PointsBadge__root {
  padding: 12px 24px 12px 0 !important;
  left: 0 !important;
}

.CommentsBadge__root {
  right: 10px !important;
  padding: 12px 12px 12px 24px !important;
}
