@media (min-width:768px) {
  .container {
    & .app-fab {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    z-index: 1299;
    }
  }
}

@media (max-width: 767px) {
  .container {
    & .app-fab {
    position: fixed;
    top: 95%;
    left: 95%;
    transform: translate(-95%, -95%);
    z-index: 1299;
    }
  }
}
