@for $i from 1 through 10 {
    .wid#{$i * 10} {
      width: $i * 10%;
    }
}

@for $i from 1 through 10 {
    .margin-vertical-#{$i * 5} {
      margin-bottom: $i * 5px;
      margin-top: $i * 5px;
    }
}

@for $i from 1 through 10 {
    .padding-vertical-#{$i * 5} {
      padding-top: $i * 5px;
      padding-bottom: $i * 5px;
    }
}


@media (min-width: 992px) {
  .container {
      width: 970px;
      padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .container {
      width: 100%;
  }
}
